.card {
  height: 500px;
  width: 500px;
  border: 1px solid red;
}
.dot {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50% solid black;
  letter-spacing: 10px;
  -webkit-border-radius: 50% solid black;
  -moz-border-radius: 50% solid black;
  -ms-border-radius: 50% solid black;
  -o-border-radius: 50% solid black;
}


